@import url('https://fonts.cdnfonts.com/css/staatliches-2');

body {
    text-align:center;
}

#gameFrame {

    background-color : #81bc2f;
    filter: blur(33px);

    padding:50px;
    margin:auto;
    border-radius:20px;
}

.c {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#info {

    position: absolute;
    
}

.ad {

    font-family: 'Staatliches', sans-serif;
    font-size : 2em;


}